* {
  box-sizing: border-box;
}

.App {
  max-width: 600px;
  margin: 1rem auto;
  border: 10px solid #D00000;
  padding: 1rem;
  background-color: #FFBA08;
  border-radius: 1rem;
}

.App > h1 {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  .App{
    margin: 1rem 1rem;
  }
}

input.New-todo {
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1.2rem;
  border: 3px solid #370617;
  border-radius: .5rem;
}

input:focus {
  outline: none;
}

ul.App-todos {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}

ul.App-todos > li {
  padding: .5rem;
}

li.Todo-item {
  display: flex;
  align-items: center;
}

li.Todo-item:hover {
  background-color: rgba(255, 255,222, .5);
}

a.Todo-delete {
  margin-left: auto;
  text-decoration: none;
  color: #6A040F;
  font-size: 2rem;
  line-height: 1.2rem;
}

.Done > .Todo-title {
  text-decoration: line-through;
}